/* CONTINGUT PANTALLA PRINCIPAL */
/* Paràmetres Pane Pantalla Principal */
.login-content {
    -fx-background-color: whitesmoke;
    -fx-background-size: 100%;
    -fx-font-size: 17px;
    -fx-font-family: David Libre;

}
.border-content {
    -fx-background-color: linear-gradient(white, #A9EDEF);
    -fx-font-size: 17px;
    -fx-font-family: Carlito;
}
.main-content {
    -fx-background-image: url("/images/background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
    -fx-font-size: 18px;
}

/* CONTINGUT PANTALLA SOBRE */
/* Paràmetres Pane Pantalla Sobre */
.about-content {
    -fx-background-color: #E9E3DC;
}

/* Paràmetres Label Nom empresa */
#name {
    -fx-alignment: center;
    -fx-font-family: Tahoma;
    -fx-font-size: 20px;
}
/* Paràmetres Label Versió programa */
#version {
    -fx-font-size: 12px;
    -fx-font-family: cursive;
}
/* Paràmetres Button Botó Tanca */
#bTanca {
    -fx-background-color: #333231;
}

.adminDev-content {
    -fx-font-size: 16px;


}