.header-section {
    -fx-font-size: 15px;
    -fx-background-color: gray;
}

.content-section Label {
    -fx-font-weight: bold;
}
.content-section:hover {
    -fx-border-color: lightblue;
    -fx-border-radius: 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.5 , 0 , 2 );
}