.menu-button{
    -fx-background-color: #2eb6ff;
    -fx-border: none;
    -fx-color: white;
    -fx-text-align: center;
    -fx-font-size: 20px;
    -fx-opacity: 1;
}
.menu-button:hover{
    -fx-background-color: #1971ff;
}
.logo{
    -fx-font-size: 40px;
    -fx-font-family: "Book Antiqua";
}