.red-label {
    padding: 2px 10px;
    background: #e6262b linear-gradient(#e67b7b, #ad2125);
}

.orange-label {
    padding: 2px 10px;
    background: #e69327 linear-gradient(#e6a38f, #ae6d1f);
}

.green-label {
    padding: 2px 10px;
    background: #356425 linear-gradient(#93ee93, #356425);
}
.root {
    -fx-font-family: "Roboto"
}

.label {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , black , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

#navigation-button {
    -fx-min-height: 28px;
    -fx-min-width: 28px;
    -fx-max-height: 28px;
    -fx-max-width: 28px;
    -fx-background-size: 28px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#map-button {
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
    -fx-min-height: 28px;
    -fx-min-width: 28px;
    -fx-max-height: 28px;
    -fx-max-width: 28px;
    -fx-background-size: 28px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.map-button-plus {
    -fx-background-image: url('../img/map_button_plus.png');
}

.map-button-plus:hover {
    -fx-background-image: url('../img/map_button_plus_filled.png');
}

.map-button-minus {
    -fx-background-image: url('../img/map_button_minus.png');
}

.map-button-minus:hover {
    -fx-background-image: url('../img/map_button_minus_filled.png');
}

.navigation-button-search {
    -fx-background-image: url('../img/navigation_button_search.png');
}

.navigation-button-exit {
    -fx-background-image: url('../img/navigation_button_exit.png');
}
.navigation-button-edit {
    -fx-background-image: url('../img/edit.jpg');
}
.navigation-button-save {
    -fx-background-image: url('../img/save.png');
}