/* Fuentes */

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('/fonts/Montserrat-Bold.ttf');
}

.root {
    -fx-font-family: 'Montserrat';
}

/* Botones Menú */

.menu-button
{
    -fx-background-color : #05071F;
    -fx-text-fill : #e7e5e5;
    -fx-font-family: 'Montserrat';
    -fx-cursor: hand;
}
.menu-button:hover{
    -fx-background-color : #f8b500;
}
.menu-button:pressed
{
    -fx-background-color : #d49e0d;
}

.menu-btn-clicked{
    -fx-background-color : #d49e0d;
}

/* Formularios */

.label-error{
 -fx-text-fill:red;
}

.input-error {
    -fx-border-width: 2;
    -fx-border-color: red;
}

.input-focus {
    -fx-border-width: 2;
    -fx-border-color: #000;
}

.login-input {
    -fx-text-inner-color: black;
}

.btn-cursor{
     -fx-cursor: hand;
}

/* Vista MiPerfil */


.fondo{

    -fx-opacity: 1;
    -fx-background-radius:10;
    -fx-background-color: rgba(255, 255,255,1);

}

/* Item user */
/*
.button
{
    -fx-background-color : #05071F;
    -fx-text-fill : #e7e5e5;
}
.button:hover{
    -fx-background-color : #10165F;
}
.button:pressed
{
    -fx-background-color : #1620A1;
}
*/
.scroll-pane {
    -fx-background-color: white; /*#02030A; */
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #f8b500;
    -fx-background-radius: 5em;
    -fx-font-size: 5px;
}

.btn-tablaUser{

    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.btn-tablaUser:hover{
    -fx-background-size: 120%;
}

/*******************************************************************************************/
/* SLIDER DASHBOARD gi*/

/* Styling the slider track
.jfx-slider>.track {
    -fx-pref-height: 10;
}*/

/* Styling the slider thumb */
.jfx-slider>.thumb {
    -fx-background-color: -fx-custom-color;
}

/* Styling the filled track */
.jfx-slider>.colored-track {
    -fx-background-color: linear-gradient(to right, red, orange);
}

/* Styling the animated thumb */
.jfx-slider>.animated-thumb {
    -fx-background-color: -fx-custom-color;
}



