.root {
    -fx-font-family: "Roboto Light";
}
.label {
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}

.label:hover {
    -fx-font-weight: bold;
    -fx-background-color:
            #c43b3b,
            -fx-focus-color,
            -fx-background ;
}