.root {
    -fx-font-family              : "Roboto Light";
    -fx-font-size                : 12px;
    -fx-font-weight              : lighter;
    -fx-selection-bar            : -standard;
    -fx-selection-bar-non-focused: derive(-standard, 20%);
}

#map-button {
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
    -fx-min-height: 28px;
    -fx-min-width: 28px;
    -fx-max-height: 28px;
    -fx-max-width: 28px;
    -fx-background-size: 28px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.map-button-plus {
    -fx-background-image: url('../img/map_button_plus.png');
}

.map-button-plus:hover {
    -fx-background-image: url('../img/map_button_plus_filled.png');
}

.map-button-minus {
    -fx-background-image: url('../img/map_button_minus.png');
}

.map-button-minus:hover {
    -fx-background-image: url('../img/map_button_minus_filled.png');
}

#navigation-button {
    -fx-min-height: 36px;
    -fx-min-width: 36px;
    -fx-max-height: 36px;
    -fx-max-width: 36px;
    -fx-background-size: 36px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.navigation-button-run {
    -fx-background-image: url('../img/navigation_button_graph.png');
}

.navigation-button-clear {
    -fx-background-image: url('../img/navigation_button_clear.png');
}

.navigation-button-print {
    -fx-background-image: url('../img/navigation_button_print.png');
}


/*
.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 20px;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #191970;
}

.chart-title {
    -fx-text-fill: #4682b4;
    -fx-font-size: 1.6em;
}

.axis-label {
    -fx-text-fill: #4682b4;
}

.chart-plot-background {
    -fx-background-color: #e2ecfe;
}
.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-alternative-row-fill {
    -fx-fill: #99bcfd;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.axis {
    -fx-font-size: 1.4em;
    -fx-tick-label-fill: #914800;
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.axis-label {
    -fx-text-fill: #462300;
}

.axis-tick-mark {
    -fx-stroke: #637040;
    -fx-stroke-width: 3;
}
.axis-minor-tick-mark {
    -fx-stroke: #859656;
}

 */