.login {
    -fx-background-color: #C43B3B;
    -fx-background-radius: 5px;
}

.deco_pane {
    -fx-background-color: #C43B3B;
    -fx-background-radius: 70px;
}

.main_pane {
    -fx-background-color: #515658;
}

.menu_pane {
    -fx-background-color: #b5b5b5;
}

.menu_button {
    -fx-background-color: #b5b5b5;
    -fx-background-radius :  30 0 0 30;
}


.menu_button:hover {
    -fx-background-color: #686868;
    -fx-background-radius :  30 0 0 30;
}

.menu_button:pressed {
    -fx-background-color: #515658;
    -fx-background-radius :  30 0 0 30;
}

.menu_button_clicked {
    -fx-background-color: #515658;
    -fx-background-radius :  30 0 0 30;
}

#menu_button_settings {
    -fx-image: url("../img/icons8-ajustes-48.png");
}

#menu_button_add_user{
    -fx-image: url("../img/menu_button_add_user.png");
}

#menu_button_devices {
    -fx-image: url("../img/menu_button_devices.png");
}

#menu_button_monitor {
    -fx-image: url("../img/menu_button_monitor.png");
}

#menu_button_tipus_sol {
    -fx-image: url("../img/menu_button_soil_type.png");
}

#menu_button_logout {
    -fx-image: url("../img/menu_button_logout.png");
}

.option_button  {
    -fx-background-color : #919191;
    -fx-background-radius :  20;
}

.option_button:hover {
    -fx-background-color: #686868;
    -fx-background-radius :  20;
}

.option_button:pressed {
    -fx-background-color: #515658;
    -fx-background-radius :  20;
}

.button3 {
    -fx-background-color : #141124;
    -fx-background-radius :  0 0 0 0;
}
.button3:hover {
    -fx-background-color : #524A7B ;
}
.button3:pressed {
    -fx-background-color : #2F2B43 ;
}

.button4 {
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
.button4:hover {
    -fx-background-color :linear-gradient(to top left, #D4CEE3, #41951C);
    -fx-background-radius :  30 30 30 30;
}
.button4:pressed {
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
/*
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #2D75E8;
}

.table-view .column-header .label {
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }

 .table-row-cell:selected .text {
        -fx-fill : white ;

 }

 */
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
/*.table-view .increment-button ,.table-view .decrement-button {*/
/*    -fx-background-color:transparent;*/
/*	-fx-background-radius: 2em;*/
/*}*/

/* The main scrollbar **track** CSS class  */
/*.table-view .scroll-bar:horizontal .track,*/
/*.table-view .scroll-bar:vertical .track {*/
/*	-fx-background-color: transparent;*/
/*	-fx-border-color:derive(  #2D75E8,80%);*/
/*	-fx-background-radius: 2em;*/
/*	-fx-border-radius:2em;*/
/*}*/

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
/*.table-view .scroll-bar:horizontal .thumb,*/
/*.table-view .scroll-bar:vertical .thumb {*/
/*    -fx-background-color:derive( #2D75E8,90%);*/
/*	-fx-background-insets: 2, 0, 0;*/
/*	-fx-background-radius: 2em;*/

/*}*/

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
.linear-grad {
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}

#navigation-button {
    -fx-min-height: 28px;
    -fx-min-width: 28px;
    -fx-max-height: 28px;
    -fx-max-width: 28px;
    -fx-background-size: 28px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.navigation-button-delete {
    -fx-background-image: url('../img/navigation_button_delete.png');
}

.navigation-button-new {
    -fx-background-image: url('../img/navigation_button_new.png');
}

.navigation-button-save {
    -fx-background-image: url('../img/navigation_button_save.png');
}

.navigation-button-cancel {
    -fx-background-image: url('../img/navigation_button_cancel.png');
}

.navigation-button-password {
    -fx-background-image: url('../img/navigation_button_password.png');
}

.navigation-button-exit {
    -fx-background-image: url('../img/navigation_button_exit.png');
}

.navigation-button-search {
    -fx-background-image: url('../img/navigation_button_search.png');
}