/*
    Estil CSS del formulari de login
    @author: Rubén Nadal - rnadal27@xtec.cat
    @version 1.0
*/

.textfield {
    -fx-border-color: #C43B3B;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}

.textfield:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}
.button {
    -fx-background-color: #FFF;
    -fx-border-color: #C43B3B;
    -fx-text-fill: #C43B3B;
}

.button:hover {
    -fx-background-color: #C43B3B;
    -fx-text-fill: #FFF;
}

#pane-left {
    -fx-background-color: #C43B3B;
}

#label-logout {
    -fx-text-fill: #C43B3B;
}

.button:pressed {
    -fx-background-color: #C43B3B;
    -fx-text-fill: #FFF;
}