.root {
    -fx-font-family: "Roboto"
}

.label {
    -fx-text-fill: maroon;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    /*-fx-background-color: #a9a9a9 , blue , white;*/
    -fx-background-color: #a9a9a9 , maroon , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.label-title {
    -fx-font-size: 18px;
}

#navigation-button {
    -fx-min-height: 28px;
    -fx-min-width: 28px;
    -fx-max-height: 28px;
    -fx-max-width: 28px;
    -fx-background-size: 28px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.navigation-button-delete {
    -fx-background-image: url('../img/navigation_button_delete.png');
}

.navigation-button-new {
    -fx-background-image: url('../img/navigation_button_new.png');
}

.navigation-button-save {
    -fx-background-image: url('../img/navigation_button_save.png');
}

.navigation-button-update {
    -fx-background-image: url('../img/navigation_button_update.png');
}

.navigation-button-cancel {
    -fx-background-image: url('../img/navigation_button_cancel.png');
}

.navigation-button-password {
    -fx-background-image: url('../img/navigation_button_password.png');
}

.navigation-button-exit {
    -fx-background-image: url('../img/navigation_button_exit.png');
}

.navigation-button-search {
    -fx-background-image: url('../img/navigation_button_search.png');
}

.navigation-button-monitor {
    -fx-background-image: url('../img/menu_button_monitor.png');
}

.navigation-button-send-mail {
    -fx-background-image: url('../img/navigation_button_send_mail.png');
}

.navigation-button-refresh {
    -fx-background-image: url('../img/navigation_button_refresh.png');
}

#map-button {
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 15px;
    -fx-min-height: 28px;
    -fx-min-width: 28px;
    -fx-max-height: 28px;
    -fx-max-width: 28px;
    -fx-background-size: 28px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.map-button-plus {
    -fx-background-image: url('../img/map_button_plus.png');
}

.map-button-plus:hover {
    -fx-background-image: url('../img/map_button_plus_filled.png');
}

.map-button-minus {
    -fx-background-image: url('../img/map_button_minus.png');
}

.map-button-minus:hover {
    -fx-background-image: url('../img/map_button_minus_filled.png');
}

/* Estil dels TabPane*/

/*.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color:transparent;
}*/

.tab-pane {
    -fx-background-color:#b5b5b5;
}

.tab {
    -fx-background-color:#b5b5b5;
}

.tab:hover {
    -fx-background-color: #C43B3B;
}

.tab:selected {
    -fx-background-color:#b5b5b5;
    -fx-text-fill: #41951C;
}

/* Estil TableView */

/* Capçalera */
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color: slategrey; /*#7d6c8e;*/
}

.table-view .column-header .label {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    /*-fx-text-fill: #000000;*/
}

.table-row-cell:selected {
    -fx-background-color: lightgrey;
}

.table-row-cell:selected .text {
    -fx-fill : maroon;

}
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:derive(  #2D75E8,80%);
    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}